.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    font-family: 'Montserrat', sans-serif;
    /* background-color: #f5f5f5;
    box-sizing: border-box; */
    width: 100%;
  }
  
  .about-us-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* background-color: #fff; */
    padding: 10px;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
  }

  .about-us-container p {
    margin-right: 50px;
  }
  
  .description .highlight {
    color: #ff6347; 
    font-weight: bold; 
  }

  .team-photo img {
    width: 500px;
    height: 300px;
    border-radius: 2px;
    margin-top: 20px;
  }
  
.mem {
    text-align: center;
    margin: 0;
    font-weight: bold;
  }

  